* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1200px;
  margin: auto;
}

span {
  font-size: 30px;
  font-weight: 600;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
}

button:active {
  background-color: white;
  color: black;
}

nav {
  margin: 60px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a:link,
nav a:visited {
  color: black;
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
}
nav a:hover,
nav a:active {
  color: red;
}

.container {
  margin: 100px 0;

  display: flex;
  flex-direction: column;
  gap: 60px;
}

.challenge {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 25px;

  background-color: #f7f7f7f7;
}

.content-seperator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  display: none;
}

.operatorButton:focus {
  background-color: red;
  padding: 20px;
}
/* *********************************** */
.SP-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: fixed;
  /* top: 50%; */
  left: 20%;
  z-index: 1000;
  background-color: #fff;
  border: 5px #000 solid;
  border-radius: 30px;
  width: 800px;
  height: 600px;
  padding: 60px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.default-display {
  display: none;
}

.prompt-item--01 {
}
.prompt-item--02 {
  display: none;
}
.prompt-item--03 {
  display: none;
}
